#game-state-popup {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#game-state-popup-content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(255, 255, 255, 0.95);
    color: #0076ff;
    border: 1px solid #aaa;
    border-radius: 12px;
}
